CAMOutputs/
*.b#*
*.s#*
*.zip
*.cam
*.job
*.pro
Coin/IGNOR_BOLD.PNG
Coin/IGNORE.PNG
Coin/IGNOR_NORMAL.PNG
Coin/IGNOR_SEMIBOLD.PNG
Coin/Entwurf_alt.PNG
Coin/~$Bestellung.xlsx
Coin/REDESIGN/HERMESS_COIN.png
*.png
Test.sch
Test.brd
Test.*
